.more-panel {
  display: flex;
  flex-direction: column;
  color: #f3f4f6;
  gap: 20px;
  border: 1px solid #f3f4f6;
  padding: 10px;
  position: fixed;
  z-index: 99;
  background-color: #111827;
}

.more-panel-hide {
  display: none;
}

.more-panel .more-panel-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.more-panel .more-panel-item:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.4rem #f3f4f6);
}
