.login-container {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f3f3f3;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
}

.input input {
  width: calc(100% - 45px);
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  background: #f3f4f6;
  color: #111827;
  border: 1px solid #111827;
  border-radius: 100px;
}

.link {
  display: flex;
  gap: 5px;
}

.signup {
  font-size: 16px;
  line-height: 1.5;
  color: yellow;
  text-decoration: none;
}
