.notification-container {
  color: #f3f4f6;
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f3f4f6;
}

.notification-container .notification-header {
  padding-top: 10px;
}

.notification-container .notification-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.notification-container .notification-body .notification-user {
  font-weight: bold;
  font-size: 1.1rem;
}

.notification-container .notification-body .notification-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
