.user-banner-container {
  color: #f3f4f6;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding-bottom: 25px;
  border-bottom: 1px solid #f3f4f6;
}

.user-banner-container .user-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user-banner-container .user-header .user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-banner-container .user-header .user-pseudos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-banner-container .user-header .user-pseudos > span:nth-child(1) {
  font-weight: bold;
}

.user-banner-container .user-header .user-pseudos > span:nth-child(2) {
  font-style: italic;
  font-size: 0.8em;
}

.user-banner-edit-profile {
  align-self: flex-end;
}

.user-banner-container .user-metadatas {
  display: flex;
  gap: 20px;
  align-items: center;
}

.user-banner-container .user-metadatas .user-metadata {
  display: flex;
  gap: 5px;
  align-items: center;
}

.user-banner-container .user-stats {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-banner-container .user-stats .user-stat {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid transparent;
}

.user-banner-container .user-stats .user-stat:hover {
  border-bottom: 1px solid #f3f4f6;
}

.user-banner-container .user-stats .user-stat > span:nth-child(1) {
  font-weight: bold;
  font-size: 1.2rem;
}

.user-banner-container .user-stats .user-stat > span:nth-child(2) {
  font-style: italic;
}

.edit-profile {
  background-color: #111827;
  color: #f3f4f6;
  border: 1px solid #f3f4f6;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
}

.edit-save {
  position: absolute;
  right: 20px;
}

.edit-avatar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.edit-avatar .user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.edit-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-input {
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid transparent;
  background: #f3f4f6;
  color: #111827;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  font-size: 1.1rem;
  transition: 0.3s;
  letter-spacing: 1px;
}

.edit-input:active,
.edit-input:focus {
  border: 1px solid #5a00ee;
}

.edit-birthday {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid transparent;
  background: #f3f4f6;
  color: #111827;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.edit-birthday em:hover {
  transition: 0.2s;
  filter: drop-shadow(0 0 0.4rem #111827);
}

.date-editor {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.date-field {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}

.date-editor .edit-input {
  width: 50%;
}

.date-editor .icon {
  padding: 20px;
}

.date-editor .icon:hover {
  transition: 0.2s;
  filter: drop-shadow(0 0 0.4rem #f3f4f6);
}
