.suggest {
  position: sticky;
  width: 30%;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 1060px) {
  .suggest {
    display: none;
    width: 0;
  }
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.search-container .search-input {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  padding-right: 35px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  background: #dfe4eb;
  color: #09070f;
  border: 1px solid #09070f;
  border-radius: 100px;
}

.search-container em:nth-child(2) {
  position: absolute;
  left: 7px;
  display: flex;
  justify-content: center;
}

.search-container em:nth-child(3) {
  position: absolute;
  right: 7px;
  display: flex;
  justify-content: center;
}

.search-container .search-input::placeholder {
  color: #09070f;
}

.search-container .search-input:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #84a2fa;
}

.suggestion-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.suggestion-panel-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.suggest-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.suggest-user_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #dfe4eb;
}

.suggest-user_info span:nth-child(1) {
  font-weight: bold;
}

.suggest-user_info span:nth-child(2) {
  font-style: italic;
  font-size: 0.8em;
}

.suggest-avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
