* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfe4eb;
  margin-left: 15%;
  margin-right: 15%;
}

@media only screen and (max-width: 1200px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 900px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.menu {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.linear {
  display: flex;
  align-items: center;
}

.linear > * {
  margin-left: 15%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons > * {
  margin-top: 20%;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 5%;
}

.main .feed {
  width: 60%;
}

.main .suggest {
  width: 30%;
}

@media only screen and (max-width: 920px) {
  .main .suggest {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .linear > span {
    display: none;
  }

  .linear > img {
    transform: scale(1.2);
  }
}

.msg {
  display: grid;
  grid-template-columns: 20% 80%;
}

.msg-content > input {
  width: 100%;
}

.msg-user {
  display: flex;
  margin: 20%;
  justify-content: space-around;
}

.msg-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.msg-actions .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .msg-actions .actions > * {
  margin-left: 15%;
} */
