@import "./components/containers/_MenuContainer.css";
@import "./components/containers/_MainContainer.css";
@import "./components/containers/_FeedContainer.css";
@import "./components/containers/_SuggestContainer.css";
@import "./components/containers/_LoginFormContainer.css";
@import "./components/_Input.css";
@import "./components/_Action.css";

* {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  border: none;
}

body {
  background-color: #111827;
}

.app {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  gap: 30px;
}

.app.login {
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app.register {
  align-items: center;
  justify-content: center;
  height: 100vh;
}
