@import "./components/containers/_MenuContainer.css";
@import "./components/containers/_MainContainer.css";
@import "./components/containers/_FeedContainer.css";
@import "./components/containers/_SugestContainer.css";
@import "./components/containers/_PrivateMessages.css";
@import "./components/containers/_LoginFormContainer.css";
@import "./components/_Input.css";
@import "./components/_Action.css";

* {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  border: none;
}

body {
  background-color: #dfe4eb;
}

.app {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
}

.app.login {
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app.register {
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .app {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 900px) {
  .app {
    margin-left: 5%;
    margin-right: 5%;
  }
}
